<a href="@Url.Action("GioHang","GioHang")" style="color:white;font-weight:bold;text-decoration:none">
    <img src="~/HinhSanPham/cart_img.png" style="width:16px" />Giỏ Hàng(@ViewBag.TongSoLuong)
</a>
