
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tội ghi nhận. Chúng tôi sẽ liên hệ với quý khách sớm nhất có thể.</h2>
<p>
    @Html.ActionLink("Về Trang Chủ","Index","BookStore")
</p>

